<StackLayout row="0" col="0" height="100%" width="100%">
	<PullToRefresh (refresh)="getNotices(temporalUrl,$event)">
	    <ListView [items]="notices.articles" >
	        <ng-template  let-item="item" let-i="index" let-odd="odd" let-even="even">
	            <GridLayout class="p-10" columns="160,12*,auto" rows="*,*,auto">
	                <Image  [@scaleEfect] (tap)="openPage(item.url)" row="0" col="0" height="140" width="140" style="border-radius:5%;" [src]="item.urlToImage"></Image>
	                <StackLayout (tap)="openPage(item.url)" row="0" col="1" orientation="vertical" >
	                        <Label class="bold" [text]="item.title" textWrap="true"></Label>
	                        <Label [text]="item.description" textWrap="true"></Label>
	                        <Label [text]="item.publishedAt" class="h6 p-t-10" color="#000"></Label>
	                </StackLayout>
	            <StackLayout  row="1" col="1" orientation="horizontal">
	                <Button height="40" style="font-size: 13" text="&#xf06e;" class="fa" (tap)="openPage(item.url)"></Button>
	                <Button height="40" style="font-size: 13" text="&#xf1e0;" class="fa" (tap)="sharedUser(item.url)"></Button>
	            </StackLayout>
	            </GridLayout>
	        </ng-template>
	    </ListView>
	</PullToRefresh>
</StackLayout>